<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring AI Demo Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Spring AI Demo</h1>
    <div class="list-group">
        <a href="/ask-ai-view" class="list-group-item list-group-item-action">
            <strong>Ask AI (OpenAI/GPT)</strong> - 질문 답변 기능
        </a>
        <a href="/image-ai-view" class="list-group-item list-group-item-action">
            <strong>image AI (OpenAI/GPT)</strong> - 이미지 생성
        </a>
        <a href="/image-voice-ai-view" class="list-group-item list-group-item-action">
            <strong>image voice AI (OpenAI/GPT)</strong> - 음성 기반 이미지 생성
        </a>

        <a href="/image-analysis-ai-view" class="list-group-item list-group-item-action">
            <strong>image analysis AI (OpenAI/GPT)</strong> - 업로드 이미지 텍스트 분석
        </a>

        <a href="/tts-ai-view" class="list-group-item list-group-item-action">
            <strong>tts AI (OpenAI/GPT)</strong> - 텍스트를 음성으로 변환
        </a>

        <a href="/stt-ai-view" class="list-group-item list-group-item-action">
            <strong>stt AI (OpenAI/GPT)</strong> - 오디오 비디오를 텍스트로 변환
        </a>

        <a href="/rag-ai-view" class="list-group-item list-group-item-action">
            <strong>rag AI (OpenAI/GPT)</strong> - PDF 백터 자료 기반 질문 답변
        </a>

        <a href="/rag-hotel-ai-view" class="list-group-item list-group-item-action">
            <strong>rag 심화 챗봇 AI (OpenAI/GPT)</strong> - Rag기반 호텔 AI 챗봇 서비스
        </a>

        <a href="/another-feature" class="list-group-item list-group-item-action">
            <strong>추가 기능 (예: PDF 검색, 벡터스토어 등)</strong>
        </a>
        <!-- 필요한 기능 계속 추가 가능 -->
    </div>
</div>
</body>
</html>